html,
body {
  background-color: #cb8f37;
}
img {
  margin-top: 40px;
}
#recuerda {
  margin-top: -5px;
  color: #956a24;
  font-size: 12px;
  justify-content: center;
}
.box {
  position: absolute;
  background-image: url(bosque.jpg);
  background-size: 110%;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 50%;
  height: 500px;
  width: 700px;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  padding: 25px;
}

.form {
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  left: 50%;
  top: 50%;
  transform: translate(30%, -55%);
  padding: 25px;
  margin: 25px;
  position: absolute;
  text-align: center;
  background-color: #ffffff;
  border-radius: 25px 0 0 25px;
  height: 500px;
  width: 250px;
}
h1 {
  font-size: 25px;
}

#cardnumber {
  outline: auto;
  color: #6c4913;
  border-radius: 25px;
  height: 25px;
}

#validacion {
  color: #fff;
  background-color: #ca8e37;
  outline: none;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 25px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
